<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title> 3DES </title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <section class="Encryption">
            <h1>
                Text to be encrypted!
            </h1>
            <form action="/encrypt/" method='post'>
                <textarea name='enctext' class="enc"></textarea>
                <br>
                <label>Enter Key</label>
                <br>
                <input type="text" maxlength=16 pattern="[0-9a-fA-F]*" name='key1'></textarea>
                <input type="text" maxlength=16 pattern="[0-9a-fA-F]*" name='key2'></textarea>
                <input type="text" maxlength=16 pattern="[0-9a-fA-F]*" name='key3'></textarea>
                <br>
                <input type="submit">
            </form>
            <h2> Result from encryption </h2>
            <p id="ciphertext"> {{ ciphertext }} </p>
        </section>
        <section class="Decryption">
            <h1>
                Text to be decrypted!
            </h1>
                <form action='/decrypt/' method='post'>
                    <textarea name="dectext" class="dec"></textarea>
                    <br>
                    <label>Enter Key</label>
                    <br>
                    <input type="text" maxlength=16 pattern="[0-9a-fA-F]*" name='key1'></textarea>
                    <input type="text" maxlength=16 pattern="[0-9a-fA-F]*" name='key2'></textarea>
                    <input type="text" maxlength=16 pattern="[0-9a-fA-F]*" name='key3'></textarea>
                    <br>
                    <input type="submit">
                </form>
            <h2> Result from decryption </h2>
            <p id="cleartext"> {{ cleartext }} </p>
        </section>
        <footer>
            <h3> produced by: </h3>
            <p> Nicholas Stewart, Yi-Hsuan Hsu, Mitchell Mecca </p>
        </footer>
    </body>
</html>