<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title> 3DES </title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <section class="Encryption">
            <h1>
                Text to be encrypted!
            </h1>
            <form action="/encrypt/">
                <textarea class="enc"></textarea>
                <br>
                <input type="submit">
            </form>
            <h2> Result from encryption </h2>
            <p> result would be here </p>
            <button> Copy! </button>
        </section>
        <section class="Decryption">
            <h1>
                Text to be decrypted!
            </h1>
                <form>
                    <textarea class="dec"></textarea>
                    <br>
                    <input type="submit">
                </form>
            <h2> Result from decryption </h2>
            <p> result is here </p>
            <button> Copy! </button>
        </section>
        <footer>
            <h3> produced by: </h3>
            <p> Nicholas Stewart </p>
        </footer>
    </body>
</html>